<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<h4>Some test form:</h4>
			<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
				<div formGroupName="basicData">
					<div class="form-group">
						<label for="username">Username (forbidden names: admin)</label>
						<span
							*ngIf="!signupForm.get('basicData.username').valid && signupForm.get('basicData.username').touched"
							class="help-block">
							<span *ngIf="signupForm.get('basicData.username').errors['nameForbidden']">This name is forbidden!</span>
							<span *ngIf="signupForm.get('basicData.username').errors['required']">This field is required!</span>
						</span>
						<input
							type="text"
							id="username"
							class="form-control"
							formControlName="username">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<span
							*ngIf="!signupForm.get('basicData.email').valid && signupForm.get('basicData.email').touched"
							class="help-block">Enter a valid email!</span>
						<input
							type="email"
							id="email"
							class="form-control"
							formControlName="email">
					</div>
					<label>Something</label>
					<div class="radio" *ngFor="let gender of genders">
						<label>
							<input
								type="radio"
								formControlName="gender"
								[value]="gender">{{ gender }}
						</label>
					</div>
				</div>

				<div
					*ngIf="signupForm.get('basicData.gender').value == 'middle'"
					formGroupName="extendedData">
					<div class="form-group">
						<label for="address">Address</label>
						<span
							*ngIf="!signupForm.get('extendedData.address').valid && signupForm.get('extendedData.address').touched"
							class="help-block">Enter a valid address!</span>
						<input
							type="text"
							id="address"
							class="form-control"
							formControlName="address">
					</div>
					<div formArrayName="random">
						<h4>Add something:</h4>
						<div type="button" class="btn btn-primary" (click)="onAddData()">Add random data</div>
						<div class="form-group" *ngFor="let randomControl of signupForm.get('extendedData.random').controls; let i = index">
							<label for="address">Random data</label>
							<span
								*ngIf="!signupForm.get('extendedData.random').valid && signupForm.get('extendedData.random').touched"
								class="help-block">Enter something!</span>
							<input type="text" class="form-control" [formControlName]="i">

						</div>
					</div>
				</div>

				<button type="button" class="btn button-secondary" (click)="setPaymentMethodType()">
					BANK
				</button>
				<button type="button" class="btn button-secondary" (click)="setPaymentMethodType()">
					CARD
				</button>
				<br>

				<div formGroupName="paymentDetails">
					<div *ngIf="paymentMethod == 'bank'">
						<div class="card card-body">

							<!--Bank account no-->
							<div formGroupName="bank" class="form-group">
								<label for="accountNo">Account no.</label>
								<span
									*ngIf="!signupForm.get('paymentDetails.bank.accountNo').valid && signupForm.get('paymentDetails.bank.accountNo').touched"
									class="help-block">Enter a valid account number!</span>
								<input
									type="text"
									id="accountNo"
									formControlName="accountNo"
									class="form-control">
							</div>

							<!--Bank routing no-->
							<div formGroupName="bank" class="form-group">
								<label for="routingNo">Routing no.</label>
								<span
									*ngIf="!signupForm.get('paymentDetails.bank.routingNo').valid && signupForm.get('paymentDetails.bank.routingNo').touched"
									class="help-block">Enter a valid IBAN!</span>
								<input
									type="text"
									id="routingNo"
									formControlName="routingNo"
									class="form-control">
							</div>

							<!--Bank account holder-->
							<div formGroupName="bank" class="form-group">
								<label for="accountHolder">Name</label>
								<span
									*ngIf="!signupForm.get('paymentDetails.bank.accountHolder').valid && signupForm.get('paymentDetails.bank.accountHolder').touched"
									class="help-block">Enter cardholder's name!</span>
								<input
									type="text"
									id="accountHolder"
									formControlName="accountHolder"
									class="form-control">
							</div>
						</div>
					</div>

					<!--payment method: CARD-->
					<div *ngIf="paymentMethod == 'card'">
						<div class="card card-body">

							<!--Card no-->
							<div formGroupName="card" class="form-group">
								<label for="cardNo">Card no.</label>
								<span
									*ngIf="!signupForm.get('paymentDetails.card.cardNo').valid && signupForm.get('paymentDetails.card.cardNo').touched"
									class="help-block">Enter valid card number!</span>
								<input
									type="text"
									id="cardNo"
									formControlName="cardNo"
									class="form-control">
							</div>

							<!--Card expiry-->
							<div formGroupName="card" class="form-group">
								<label for="expiry">Expiry</label>
								<span
									*ngIf="!signupForm.get('paymentDetails.card.expiry').valid && signupForm.get('paymentDetails.card.expiry').touched"
									class="help-block">Valid date format: MM/YY</span>
								<input
									type="text"
									id="expiry"
									formControlName="expiry"
									class="form-control">
							</div>

							<!--Card holder-->
							<div formGroupName="card" class="form-group">
								<label for="cardHolder">Name</label>
								<span
									*ngIf="!signupForm.get('paymentDetails.card.cardHolder').valid && signupForm.get('paymentDetails.card.cardHolder').touched"
									class="help-block">Cardholder's name required!</span>
								<input
									type="text"
									id="cardHolder"
									formControlName="cardHolder"
									class="form-control">
							</div>

						</div>
					</div>
				</div>


				<button [disabled]="!signupForm.valid" class="btn btn-primary" type="submit">Submit</button>

			</form>
		</div>
	</div>
</div>
