span {
	color: crimson;
	float: right;
	margin: 0;
}

input.ng-touched.ng-invalid {
	border: 1px solid crimson;
}

label, span {
	display: inline-block;
}

.btn {
	margin: 10px auto;
}

h4 {
	padding: 10px;
  border-radius: 3px;
  background-color: lightgreen;
}

.card-body {
	background-color: aliceblue;
  padding: 20px;
	border-radius: 4px;
  border: 2px solid lightgreen;
}
